@inject NavigationManager NavigationManager
@rendermode RenderMode.InteractiveServer
@page "/"
<PageTitle>Welcome</PageTitle>

<h1>Welcome to UltraSecure Chat</h1>

<p>Please log in to continue</p>

<div>
    <button @onclick="NavigateToLogin" class="btn btn-primary">Go to Login Page</button>
</div>

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Accounts/Login");
    }
}
