h3 {
    color: #d1d5db;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.card {
    width: fit-content;
    max-width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(160, 174, 192, 0.3);
}

.card-header {
    background-color: #1f2937;
    color: #a0aec0;
    cursor: pointer;
}

    .card-header h5 {
        margin: 0;
        font-weight: bold;
    }

.card-body {
    background-color: #1f2937;
    color: #d1d5db;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-floating {
    width: 300px;
}

    .form-floating > label {
        color: #a0aec0;
    }

.form-control {
    background-color: #2d3748;
    border: 1px solid #3a4756;
    color: #d1d5db;
}

    .form-control:focus {
        background-color: #2d3748;
        border-color: #1abc9c;
        color: #fff;
        box-shadow: none;
    }

textarea.form-control {
    background-color: #2d3748;
    color: #d1d5db;
    border: 1px solid #3a4756;
}

button[type="submit"],
button.btn-primary {
    background-color: #11545F;
    border-color: #166976;
    color: #d1d5db;
    font-weight: bold;
    max-width: 200px;
}

    button[type="submit"]:hover,
    button.btn-primary:hover {
        background-color: #166976;
        border-color: #2BA2B5;
    }