.card {
    width: fit-content;
    max-width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(160, 174, 192, 0.3);
}

.card-header {
    background-color: #1f2937;
    color: #a0aec0;
    cursor: pointer;
}

.card-body {
    background-color: #1f2937;
    color: #d1d5db;
}

/* Form control styles */
.form-control {
    background-color: #2d3748;
    border: 1px solid #3a4756;
    color: #d1d5db;
}

    .form-control:focus {
        background-color: #2d3748;
        border-color: #1abc9c;
        color: #fff;
        box-shadow: none;
    }

input[type="file"].form-control {
    background-color: #2d3748;
    border-color: #3a4756;
    color: #d1d5db;
}

/* Button styles */
button.btn-primary {
    background-color: #11545F;
    border-color: #166976;
    color: #d1d5db;
    font-weight: bold;
}

    button.btn-primary:hover {
        background-color: #166976;
        border-color: #2BA2B5;
    }

button.btn-danger {
    background-color: #9b2c2c;
    border-color: #9b2c2c;
    color: #fff;
}

    button.btn-danger:hover {
        background-color: #c53030;
    }

/* Table styles */
table {
    color: #d1d5db;
    background-color: #1f2937;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #3a4756;
}

.table th {
    background-color: #2d3748;
    color: #1abc9c !important;
}

.table th,
.table td {
    width: 200px;
    max-width: 300px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.table tbody tr:hover {
    background-color: #3a4756;
    cursor: pointer;
}

.table td {
    color: #d1d5db !important;
}