/* Heading */
h3 {
    color: #d1d5db;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* Create button */
.btn-primary {
    background-color: #11545F;
    border-color: #166976;
    font-weight: bold;
    color: #d1d5db;
}

    .btn-primary:hover {
        background-color: #166976;
        border-color: #2BA2B5;
    }

/* Table Styling */
table.table {
    background-color: #2d3748;
    color: #d1d5db;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #1f2937;
    color: #a0aec0;
}

.table td, .table th {
    border-color: #3a4756;
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #273140;
}

.table td, .table th {
    color: #d1d5db !important;
}

.table tbody tr:hover {
    background-color: #3a4756;
    cursor: pointer;
}

button.btn-danger {
    background-color: #5F1111;
    border-color: #531010;
    font-weight: bold;
    color: #d1d5db;
}

    button.btn-danger:hover {
        background-color: #771515;
        border-color: #c0392b;
    }

/* Modal Styling */
.modal-content {
    background-color: #1f2937;
    color: #d1d5db;
    border: 1px solid #3a4756;
}

.modal-header .modal-title {
    color: #cbd5e0;
}

.modal-footer .btn-secondary {
    background-color: #4a5568;
}

.modal-footer .btn-danger {
    background-color: #9b2c2c;
}
