@implements IDisposable
@inject NavigationManager NavigationManager
@rendermode RenderMode.InteractiveServer
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        @if (!string.IsNullOrEmpty(companyName) && !string.IsNullOrEmpty(userName))
        {
            <div class="navbar-brand">
                <div>@companyName</div>
                <small>@userName - <span class="text-success">Available</span></small>
            </div>
        }
        else
        {
            <a class="navbar-brand" href="/">Message Flow</a>
        }
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">

        <AuthorizeView>
            <!-- Agent Workspace -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/AgentWorkspace">
                    <span class="bi bi-chat-left-text" aria-hidden="true"></span> Agent Workspace
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Manager, Admin, SuperAdmin">
            <!-- Manager Workspace -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/AgentManagerWorkspace">
                    <span class="bi bi-clipboard-data" aria-hidden="true"></span> Manager Workspace
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, SuperAdmin">
            <!-- Manage Dropdown -->
            <div class="nav-item px-3 dropdown">
                <button class="nav-link dropdown-toggle" href="#" @onclick="()=>expandSubMenu = !expandSubMenu">
                    <span class="bi bi-kanban" aria-hidden="true"></span> Manage
                </button>

                @if (expandSubMenu)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3 dropdown">
                            <!-- User Accounts -->
                            <NavLink class="dropdown-item" href="/Accounts/UserAccounts">
                                <i class="bi bi-person-fill" aria-hidden="true"></i> User Accounts
                            </NavLink>
                        </li>

                        <AuthorizeView Roles="SuperAdmin" Context="CompanyAccountsContext">
                            <li class="nav-item px-3 dropdown">
                                <!-- Company Accounts -->
                                <NavLink class="dropdown-item" href="/Accounts/CompanyAccounts">
                                    <i class="bi bi-building" aria-hidden="true"></i> Company Accounts
                                </NavLink>
                            </li>
                        </AuthorizeView>

                        <AuthorizeView Roles="Admin" Context="authAdminEditCompanyContext">
                            <li class="nav-item px-3 dropdown">
                                <!-- Company Details -->
                                <NavLink class="dropdown-item" href="@companyDetailsUrl"></NavLink>
                            </li>
                        </AuthorizeView>

                        <li class="nav-item px-3 dropdown">
                            <!-- Manage Teams -->
                            <NavLink class="dropdown-item" href="/Accounts/ManageTeams">
                                <i class="bi bi-people" aria-hidden="true"></i> Manage Teams
                            </NavLink>
                        </li>

                        <li class="nav-item px-3">
                            <NavLink class="dropdown-item" href="/ChannelSetup">
                                <i class="bi bi-gear"></i> Channel Setup
                            </NavLink>
                        </li>
                    </ul>
                }
            </div>
        </AuthorizeView>

        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Accounts/Logout">
                    <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        </AuthorizeView>

    </nav>
</div>

@code {
    private string? currentUrl;
    private bool expandSubMenu;
    private string companyDetailsUrl = string.Empty;
    private string companyName = string.Empty;
    private string userName = string.Empty;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        var companyIdClaim = HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(c => c.Type == "CompanyId");
        var userNameClaim = HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name);
        var companyNameClaim = HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(c => c.Type == "CompanyName");

        if (companyIdClaim != null && userNameClaim != null && companyNameClaim != null)
        {
            userName = userNameClaim.Value;
            companyName = companyNameClaim.Value;
            companyDetailsUrl = $"/edit-company/{companyIdClaim.Value}";
        }
    }


    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        if (currentUrl != "AgentWorkspace")
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
