h3 {
    color: #d1d5db;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

button.btn-primary {
    background-color: #11545F;
    border-color: #166976;
    color: #d1d5db;
    font-weight: bold;
}

    button.btn-primary:hover {
        background-color: #166976;
        border-color: #2BA2B5;
    }

button.btn-danger {
    background-color: #5F1111;
    border-color: #531010;
    color: #d1d5db;
    font-weight: bold;
}

    button.btn-danger:hover {
        background-color: #771515;
        border-color: #c0392b;
    }

table.table-hover {
    background-color: #2d3748;
    color: #d1d5db;
    border-radius: 10px;
    overflow: hidden;
}

.table-hover thead {
    background-color: #1f2937;
    color: #a0aec0;
}

.table-hover td, .table-hover th {
    border-color: #3a4756;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-hover tbody tr:hover {
    background-color: #3a4756;
    cursor: pointer;
}

.table-hover .table-active {
    background-color: #1abc9c33;
    border-left: 3px solid #1abc9c;
}
