.max-300 {
    width: 300px;
}

.border {
    border: 1px solid #3a4756;
    background-color: #1f2937;
    color: #d1d5db;
    border-radius: 6px;
}

h5 {
    color: #d1d5db;
    margin-bottom: 1rem;
}

label.form-label {
    color: #a0aec0;
    font-weight: bold;
}

input.form-control,
textarea.form-control {
    background-color: #2d3748;
    border: 1px solid #3a4756;
    color: #d1d5db;
}

    input.form-control:focus,
    textarea.form-control:focus {
        border-color: #1abc9c;
        background-color: #2d3748;
        color: #fff;
        box-shadow: none;
    }

button.btn-primary {
    background-color: #11545F;
    border-color: #166976;
    font-weight: bold;
    color: #d1d5db;
}

    button.btn-primary:hover {
        background-color: #166976;
        border-color: #2BA2B5;
    }

.btn-secondary {
    background-color: #4a5568;
    border-color: #4a5568;
    color: #d1d5db;
}

    .btn-secondary:hover {
        background-color: #5c667a;
    }

button.btn-danger {
    background-color: #5F1111;
    border-color: #531010;
    font-weight: bold;
    color: #d1d5db;
}

    button.btn-danger:hover {
        background-color: #771515;
        border-color: #c0392b;
    }

ul.list-group {
    background-color: #2d3748;
    border: 0.2px solid #3a4756;
    color: #d1d5db;
    max-height: 300px;
    overflow-y: auto;
}

.list-group-item {
    background-color: #2d3748;
    border: 1px solid #3a4756;
    color: #d1d5db;
    cursor: pointer;
    text-align: center;
}

    .list-group-item.active {
        background-color: #1abc9c33;
        color: #1f2937;
        font-weight: bold;
    }

    .list-group-item:hover {
        background-color: #3a4756;
    }

.scrollable-list-container {
    min-height: 200px;
    overflow-y: auto;
    flex-grow: 1;
}


.text-danger {
    color: #f56565;
    margin-top: 0.5rem;
}

.add-remove-usr-btn {
    width: 130px;
}

.border {
    border: 3px solid #3a4756 !important;
    background-color: #1f2937;
    color: #d1d5db;
    border-radius: 6px;
}