<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- Ensure that .NET Core handles all requests, not IIS -->
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- Static file caching and serving settings -->
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>

		<aspNetCore processPath="dotnet" arguments=".\MessageFlow.Server.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\log" hostingModel="inprocess"></aspNetCore>
	</system.webServer>
</configuration>
