<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Ensure that .NET Core handles all requests, not IIS -->
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- Static file caching and serving settings -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <!-- Set up requestTimeout for longer running processes -->
	  <aspNetCore processPath="dotnet" arguments=".\MessageFlow.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\log" hostingModel="inprocess">
		  <environmentVariables>
			  <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
		  </environmentVariables>
	  </aspNetCore>   
  </system.webServer>
</configuration>
