@rendermode RenderMode.InteractiveWebAssembly
@inject ChannelService ChannelService

@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="facebookSettings" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Page ID</label>
            <InputText class="form-control" @bind-Value="facebookSettings.PageId" />
        </div>


        <div class="mb-3">
            <label>Access Token</label>
            <InputText type="text" class="form-control" @bind-Value="facebookSettings.AccessToken" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}

@code {
    [Parameter] public string CompanyId { get; set; }

    private FacebookSettingsDTO facebookSettings = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        facebookSettings = await ChannelService.GetFacebookSettingsAsync(CompanyId) ?? new FacebookSettingsDTO();
        isLoading = false;
    }

    private async Task HandleValidSubmit()
    {
        await ChannelService.SaveFacebookSettingsAsync(CompanyId, facebookSettings);
    }
}