h4 {
    color: #d1d5db;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

label {
    color: #a0aec0;
}

input.form-control {
    background-color: #2d3748;
    border: 1px solid #3a4756;
    color: #d1d5db;
}

    input.form-control:focus {
        border-color: #1abc9c;
        outline: none;
        box-shadow: none;
    }

button.btn-primary {
    background-color: #11545F;
    border-color: #166976;
    color: #d1d5db;
    font-weight: bold;
}

    button.btn-primary:hover {
        background-color: #166976;
        border-color: #2BA2B5;
    }

button.btn-success {
    background-color: #14532d;
    border-color: #166534;
    color: #d1d5db;
    font-weight: bold;
}

    button.btn-success:hover {
        background-color: #166534;
        border-color: #22c55e;
    }

button.btn-danger {
    background-color: #5F1111;
    border-color: #531010;
    color: #d1d5db;
    font-weight: bold;
}

    button.btn-danger:hover {
        background-color: #771515;
        border-color: #c0392b;
    }

.table-responsive {
    margin-top: 1rem;
}

.table th {
    color: #1abc9c !important;
}

.text-danger {
    color: #e57373;
    font-size: 0.875rem;
}